body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-items: flex-start;
}

.info {
  color: lightgray;
}

.desc {
  padding-left: 50px;
}

.product {
  float: right;
  padding-top: 15px;
}

.image {
  max-width: 100%;
  max-height: auto;
}

.container {
  column-count: 2;
}

.style {
  object-fit: cover;
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 100%;
}

.style:hover {
  transform: scale(1.15);
}

.styleContainer {
  padding: 10px;
  padding-block: 5px;
}

.styleList {
  float: auto;
  padding: 5px;

}

.product-desc {
  float: bottom;
}

.nav {
  height: 50px;
  padding-left: 50px;
}

#fullscreenContainer {
  position: fixed;
  margin: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.7);
  z-index: 9;
}

.fullscreenImage {
  display: block;
  height: 700px;
  width: 700px;
  object-fit: cover;
  margin: auto;
  justify-self: center;
}

#mainImage {
  height: 480px;
  overflow: hidden;
  object-fit: cover;
  justify-content: center;
}

#cart {
  align-items: right;
}

#price {
  color: gray;
  font-size: 11px;
}

#style {
  color: darkgray;
  display:inline-block;
  padding-right: 5px;
}

#styleCategory {
  color: darkslategray;
  display: inline-block
}

#SpecialOverview {
  border-left: 2px dashed lightgray;
}

.photoStyle {
  max-width: 100px;
  max-height: auto;
}
#overlay {
  position: absolute;
  top: 70px;
  z-index: 9;
}

#cartContainer {
  display: none;
  position: fixed;
  margin: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.7);
  z-index: 20;
}

#cartBox {
  background-color: white;
  width: 100%;
  height: 600px;
  margin-top: 70px;
  overflow: scroll;
}

.selector {
  width: 50px;
  height: auto;
  padding-bottom: 15px;
  padding-left: 15px;

}

.fsButton {
  position: absolute;
  display: block;
  top: 70px;
  left: 380px;
  float: right;
  z-index: 100;
}

.fsButtonfs {
  position: absolute;
  display: block;
  top: 15px;
  right: 35px;
  z-index: 100;
}

#cart {
  display: block;
  float: right;
}

#imageContainer {
  height: 50px;
  width: auto;
}

#spacer {
  height: 20px;

}

.galleryImage {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border: 3px solid gray;
}

.selector:hover {
  transform: scale(1.15)
}

.QandA {
  padding-left: 50px;
}
