body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info {
  color: lightgray;
}

.product {
  float: center;
  padding-top: 15px;
}

.image {
  max-width: 100%;
  max-height: auto;
}

.container {
  column-count: 2;
}

.style {
  max-width: 50px;
  max-height: auto;
  border-radius: 75%;
}

.styleContainer {
  padding: 10px;
  padding-block: 5px;
}

.styleList {
  float: auto;
  padding: 5px;

}

#selected {
  border: 4px solid blue;
}

#mainImage {
  max-width: 100%;
  max-height: auto;
}

#price {
  color: gray;
  font-size: 11px;
}

#style {
  color: darkgray;
  display:inline-block;
  padding-right: 5px;
}

#styleCategory {
  color: darkslategray;
  display: inline-block
}

